@import url("https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;600;800&display=swap");
body {
  background-color: #E5E5E5;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  color: #330036;
}

.heading {
  font-size: 30vh;
  letter-spacing: 6px;
  margin: 0;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-weight: 900;
  margin-top: 3rem;
}
.heading--stroke {
  -webkit-text-stroke-width: 7px;
  -moz-text-stroke-width: 7px;
  -webkit-text-stroke-color: #330036;
  -moz-text-stroke-color: #330036;
  color: transparent;
}
.heading--shadow {
  text-shadow: 9px 9px #fe019a;
}
.heading--stroke-shadow {
  color: #4C191B;
  text-shadow: -2px 0 #FF3D29, 0 -2px #FF3D29, 2px 0 #FF3D29, 0 2px #FF3D29, 2px 2px #FF3D29, -2px -2px #FF3D29, -2px 2px #FF3D29, 2px -2px #FF3D29, 6px 6px #ECC0C0;
}

body .arrows {
  position: relative;
  /**/
  position: absolute;
  top: 90%;
  left: 90%;
  /**/
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
body .arrows:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 10px solid rgba(0, 0, 0, 0.7);
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  transform: translate(10px, 40px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}
body .arrows:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 10px solid rgba(0, 0, 0, 0.7);
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  transform: translate(20px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 10px solid #fe019a;
    border-bottom: 10px solid #fe019a;
    transform: translate(-5px, -20px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 10px solid #F1FC53;
    border-bottom: 10px solid #F1FC53;
  }
  50% {
    border-left: 10px solid rgba(0, 0, 0, 0.7);
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
    transform: translate(-5px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    transform: translate(-5px, 20px) rotate(-45deg);
  }
}
.smallerheading {
  font-size: 10vw;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-weight: 700;
  margin-top: 3rem;
}
.smallerheading--stroke {
  -webkit-text-stroke-width: 5px;
  -moz-text-stroke-width: 5px;
  -webkit-text-stroke-color: #330036;
  -moz-text-stroke-color: #330036;
  color: transparent;
}
.smallerheading--shadow {
  text-shadow: 6px 6px #fe019a;
}
.smallerheading--stroke-shadow {
  color: #4C191B;
  text-shadow: -2px 0 #FF3D29, 0 -2px #FF3D29, 2px 0 #FF3D29, 0 2px #FF3D29, 2px 2px #FF3D29, -2px -2px #FF3D29, -2px 2px #FF3D29, 2px -2px #FF3D29, 6px 6px #ECC0C0;
}

img#headshot {
  margin-top: 4rem;
  width: 60%;
  height: auto;
  border-radius: 20rem;
  border: 2px solid #fe019a;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
}

nav.navbar-light {
  background-color: #E5E5E5;
  border: 2px solid #F1FC53;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.content-container {
  width: 100%;
}

#little-sections section {
  border: #fe019a 1px solid;
  border-radius: 20px;
  padding: 30px;
  padding-top: 3rem;
}

#little-sections .cute-sections {
  border: 7px solid #63585E;
  border-radius: 2rem;
  box-shadow: -15px 22px 0 0 pink;
  background-color: white;
  padding: 0 1.2rem;
  max-width: 50rem;
  margin: 0 auto 3rem;
  padding: 1.5rem;
}

[type=submit] {
  display: block;
  color: #FEFFEB;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-radius: 2px;
  background: #330036;
  box-shadow: 7px 7px 0 0 #330036, inset 4px 4px 0 0 #E5E5E5;
  border: 2px solid #fe019a;
  border-radius: 3px;
  padding: 10px;
  width: 30%;
  margin: 10px auto;
  transition: background 0.3s;
}
[type=submit]:hover {
  background: #FEFFEB;
  box-shadow: 7px 7px 0 0 #330036, inset 4px 4px 0 0 #FEFFEB;
  color: #330036;
  border: 2px solid #fe019a;
}
[type=submit]:active, [type=submit]:focus {
  /* position: relative;
   top: 1px; */
  outline: none;
  background: #cb017b;
}

@media only screen and (min-width: 600px) {
  .heading {
    font-size: 50vh;
  }
}
@media only screen and (min-width: 800px) {
  .heading {
    font-size: 80vh;
  }
}

/*# sourceMappingURL=styles.css.map */
