// google fonts
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;600;800&display=swap');

// font variables
$montserrat: 'Montserrat', sans-serif;   
$karla: 'Karla', sans-serif;

// color variables
$grey: #E5E5E5;
$not-white: #FEFFEB;
$electric-pink: #fe019a;
$electric-lime: #B1F94F;
$electric-lemon: #F1FC53;
$dark-purple: #330036;

body{
    background-color: $grey;
    font-family: $karla;
    font-size: 1.2rem;
    color: $dark-purple;
}

// ====================================================================================
//hi banner 
// ====================================================================================

$body: #4C191B; //8F0000FF3D29 4C191B FAEFEF
$stroke: #FF3D29;
$shadow: #ECC0C0;
$size: 40rem;
$halfsize: 10rem;
$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
	-webkit-background-clip: $property;
	-moz-background-clip: $property;
	background-clip: $property;
}

@mixin fill-color($property) {
	-webkit-text-fill-color: $property;
	-moz-text-fill-color: $property;
}

// .grid {
// 	// display: grid;
// 	grid-template-columns: 1fr;
// 	grid-gap: 1rem;
// 	@media screen and (min-width: 768px) {
// 		grid-template-columns: 1fr 1fr;
// 	}
// }

.heading {
	font-size: $size;
	letter-spacing: 6px;
	margin: 0;
    font-family: $montserrat, sans-serif;
    font-weight: 900;
    margin-top: 3rem;

	&--stroke {
		@include stroke-width(7px);
		@include stroke-color($dark-purple);
		color: transparent;
	}

	&--shadow {
		text-shadow: 9px 9px $electric-pink;
	}

	&--stroke-shadow {
		color: $body;
		text-shadow: -2px 0 $stroke, 0 -2px $stroke, 2px 0 $stroke, 0 2px $stroke,
			2px 2px $stroke, -2px -2px $stroke, -2px 2px $stroke, 2px -2px $stroke,
			6px 6px $shadow;
	}

	&--halftone {
		position: relative;

		&:after {
			background: $halftone repeat;
			@include stroke-width(0);
			@include background-clip(text);
			@include fill-color(transparent);
			font-size: $size;
			letter-spacing: 6px;
			left: calc(50% + 6px);
			top: calc(50% + 6px);
			content: "tara";
			z-index: -1;
			position: absolute;
			transform: translate(-50%, -50%);
		}

		&-color {
			&:after {
				background-color: $shadow;
			}
		}
	}
}

// ====================================================================================
//down arrow 
// ====================================================================================
$size: 30px;
$speed: 3s;
$peakopacity:0.7;

body {
  .arrows {
    position: relative;
    /**/
    position: absolute;
    top:90%;
    left:90%;
    /**/
    width:$size;
    height:$size;
    transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size/3,$size*4/3)rotate(-45deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size*2/3,0px)rotate(-45deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
  }
}

@keyframes arrows {
  0% {
      border-left:$size/3 solid $electric-pink;
      border-bottom:$size/3 solid $electric-pink;
      transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
      border-left:$size/3 solid $electric-lemon;
      border-bottom:$size/3 solid $electric-lemon;
  }
  50% {
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size/-6,0px)rotate(-45deg) ;
  }
  100% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
      transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
  }
}

// ====================================================================================
//sidebar with name 
// ====================================================================================

.smallerheading {
	font-size: $halfsize;
	letter-spacing: 1px;
	margin: 0;
    line-height: 1;
    font-family: $montserrat, sans-serif;
    font-weight: 700;
    margin-top: 3rem;



	&--stroke {
		@include stroke-width(5px);
		@include stroke-color($dark-purple);
		color: transparent;
	}

	&--shadow {
		text-shadow: 6px 6px $electric-pink;
	}

	&--stroke-shadow {
		color: $body;
		text-shadow: -2px 0 $stroke, 0 -2px $stroke, 2px 0 $stroke, 0 2px $stroke,
			2px 2px $stroke, -2px -2px $stroke, -2px 2px $stroke, 2px -2px $stroke,
			6px 6px $shadow;
	}

	&--halftone {
		position: relative;

		&:after {
			background: $halftone repeat;
			@include stroke-width(0);
			@include background-clip(text);
			@include fill-color(transparent);
			font-size: $size;
			letter-spacing: 6px;
			left: calc(50% + 6px);
			top: calc(50% + 6px);
			content: "tara";
			z-index: -1;
			position: absolute;
			transform: translate(-50%, -50%);
		}

		&-color {
			&:after {
				background-color: $shadow;
			}
		}
	}
}

img#headshot {
    margin-top: 4rem;
    width: 60%;
    height: auto;
    border-radius: 20rem;
    border: 2px solid $electric-pink;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
}


// ====================================================================================
//navbar 
// ====================================================================================
nav.navbar-light{
    background-color: $grey;
    border: 2px solid #F1FC53;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    // background-color: transparent;
}

// .navbar-light .navbar-nav .nav-link:hover {
//     text-decoration:overline $electric-lime 4px;
// }

/* SHIFT */
// nav.shift ul li a {
//     position:relative;
//     z-index: 1;
//   }
//   nav.shift ul li a:hover {
//     color: $electric-lime;
//   }
//   nav.shift ul li a:after {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     margin: auto;
//     width: 100%;
//     height: 100%;
//     content: '.';
//     color: transparent;
//     background: $electric-lime;
//     visibility: none;
//     opacity: 0;
//     z-index: -1;
//   }

//   nav.shift ul li a:hover:after {
//     opacity: 1;
//     visibility: visible;
//     height: 100%;
//   }

// ====================================================================================
//sections 
// ====================================================================================

#little-sections section {
    border: #fe019a 1px solid;
    border-radius: 20px;
    padding: 30px;
    padding-top: 3rem;
}

#little-sections .cute-sections{
    border: 7px solid #63585E;
    border-radius: 2rem;
    box-shadow: -15px 22px 0 0 pink;
    background-color: white;
    padding: 0 1.2rem;
    max-width: 50rem;
    margin: 0 auto 3rem;
    padding: 1.5rem;
}

// ====================================================================================
//contact me form 
// ====================================================================================

[type="submit"] {
    display: block;
    color: $not-white;
    font-weight: bold;
    font-family:  $montserrat;
    border-radius: 2px;
    background: $dark-purple;
    box-shadow: 7px 7px 0 0 $dark-purple,
      inset 4px 4px 0 0 $grey;
    border: 2px solid $electric-pink; 
    border-radius: 3px;
    padding: 10px;
    width: 30%;
    margin: 10px auto;
    transition: background .3s;
    &:hover {
        background: $not-white;
        box-shadow: 7px 7px 0 0 $dark-purple,
        inset 4px 4px 0 0 $not-white;
        color: $dark-purple;
        border: 2px solid $electric-pink; 

    }
  
    &:active,
    &:focus {
       /* position: relative;
        top: 1px; */
        outline: none;
        background: darken($electric-pink, 10%);
    }
}



















