// google fonts
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;600;800&display=swap');

// font variables
$montserrat: 'Montserrat', sans-serif;   
$karla: 'Karla', sans-serif;
$font-size: 1rem;

// color variables
$grey: #E5E5E5;
$not-white: #FEFFEB;
$electric-pink: #fe019a;
$electric-lime: #B1F94F;
$electric-lemon: #F1FC53;
$dark-purple: #330036;

body{
    background-color: $grey;
    font-family: $karla;
    font-size: $font-size;
    color: $dark-purple;
    // background-image: url("assets/images/asfalt-dark.png") repeat;
    // background-repeat: repeat;
}

a{
    text-decoration: none;
    color: $electric-pink;

}

a:hover {
    color: $electric-lemon;
}

.button_slide {
    color: $electric-pink;
    border-radius: 10px;
    padding: 6px 10px;
    display: inline-block;
    font-weight: 600;
    font-family: $montserrat;
    margin-right: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: $dark-purple;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_right:hover {
    box-shadow: inset 0 0 0 50px $electric-lime;
    border: 1px $electric-lemon solid;
    // box-shadow: inset 400px 0 0 0 $electric-lime;
}

// #outer {
//     width: 364px;
//     margin: 50px auto 0 auto;
//     text-align: center;
// }

// ====================================================================================
//hi banner 
// ====================================================================================


@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

.heading {
	font-size: 30vh;
	letter-spacing: 6px;
	margin: 0;
    font-family: $montserrat, sans-serif;
    font-weight: 900;
    margin-top: 3rem;
    text-align: center;

	&--stroke {
		@include stroke-width(7px);
		@include stroke-color($dark-purple);
		color: transparent;
	}

	&--shadow {
		text-shadow: 9px 9px $electric-pink;
	}
}

// ====================================================================================
//down arrow 
// ====================================================================================
$arrow-size: 30px;
$arrow-speed: 3s;
$peakopacity:0.7;

body {
    .arrows {
    position: relative;
    /**/
    position: absolute;
    top:90%;
    left:90%;
    /**/
    width:$arrow-size;
    height:$arrow-size;
    transform:translate(-50%,-50%);
    &:before {
        content: '';
        position: absolute;
        width:100%;
        height:100%;
        border-left:$arrow-size/3 solid rgba(0,0,0,$peakopacity);
        border-bottom:$arrow-size/3 solid rgba(0,0,0,$peakopacity);
        transform:translate($arrow-size/3,$arrow-size*4/3)rotate(-45deg);
        animation: arrows $arrow-speed linear infinite;
    }
    &:after {
        content: '';
        position: absolute;
        width:100%;
        height:100%;
        border-left:$arrow-size/3 solid rgba(0,0,0,$peakopacity);
        border-bottom:$arrow-size/3 solid rgba(0,0,0,$peakopacity);
        transform:translate($arrow-size*2/3,0px)rotate(-45deg) ;
        animation: arrows $arrow-speed linear infinite $arrow-speed/-2;
    }
    }
}

@keyframes arrows {
    0% {
        border-left:$arrow-size/3 solid $electric-pink;
        border-bottom:$arrow-size/3 solid $electric-pink;
        transform:translate($arrow-size/-6,$arrow-size*4/-6)rotate(-45deg) ;
    }
    10%, 90% {
        border-left:$arrow-size/3 solid $electric-lemon;
        border-bottom:$arrow-size/3 solid $electric-lemon;
    }
    50% {
        border-left:$arrow-size/3 solid rgba(0,0,0,$peakopacity);
        border-bottom:$arrow-size/3 solid rgba(0,0,0,$peakopacity);
        transform:translate($arrow-size/-6,0px)rotate(-45deg) ;
    }
    100% {
        border-left:$arrow-size/3 solid rgba(0,0,0,0);
        border-bottom:$arrow-size/3 solid rgba(0,0,0,0);
        transform:translate($arrow-size/-6,$arrow-size*4/6)rotate(-45deg) ;
    }
}

// ====================================================================================
//sidebar with name 
// ====================================================================================

.smallerheading {
	font-size: 10vw;
	letter-spacing: 1px;
	margin: 0;
    line-height: 1;
    font-family: $montserrat, sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: .5rem;



	&--stroke {
		@include stroke-width(5px);
		@include stroke-color($dark-purple);
		color: transparent;
	}

	&--shadow {
		text-shadow: 6px 6px $electric-pink;
	}
}

.tinyheading {
	font-size: 10vw;
	letter-spacing: 1px;
	// margin: 0;
    line-height: 1;
    font-family: $montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;



	&--stroke {
		@include stroke-width(5px);
		@include stroke-color($dark-purple);
		color: transparent;
	}

	&--shadow {
		text-shadow: 6px 6px $electric-pink;
	}
}

img#headshot {
    margin-top: 4rem;
    width: 60%;
    height: auto;
    border-radius: 20rem;
    border: 2px solid $electric-pink;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
}

img#smallerheadshot {
    margin-top: .5rem;
    width: 60%;
    height: auto;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20rem;
    border: 2px solid $electric-pink;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
}


// ====================================================================================
//navbar 
// ====================================================================================

nav.navbar-light{
    background-color: $grey;
    border: 2px solid #F1FC53;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 1rem;
    // background-color: transparent;
}

.navbar-collapse.collapse.in {
    display: inline-block!important;
}

#navbar-content a{
    font-family: $montserrat;
    // font-size: 1rem;
    font-weight: 600;
}

#navbar-content a:hover {
    color: $electric-pink;
    cursor: pointer;
}

#navbar-content a:active{
    color: $electric-lemon;
}

// ====================================================================================
//sections 
// ====================================================================================
section h2 {
    font-family: $montserrat;
    text-transform: lowercase;
    font-weight: 900;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: $dark-purple;
    text-shadow: 3px 3px $electric-lemon;
}

.content-container {
    width: 100%;
}

#little-sections section {
    border: $electric-pink 2px solid;
    border-radius: 20px;
    padding: 3rem;
    padding-top: 3rem;
    margin-top: 4rem;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.25) ;
    margin-bottom: 4rem;
}

// ====================================================================================
//projects 
// ====================================================================================

section .card {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1rem;
    // box-shadow: 4px 7px 20px rgba(255, 255, 255, 0.25);
    
    border-radius: 10px;
    // border: 1px solid transparent;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 2rem;
}

section .card img {
    width: 80%;
    border-radius: 1rem;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

h4 {
    border-bottom: 1px solid $electric-pink;
    font-weight: 600;
    font-family: 'Montserrat';
}

.project-links {
    margin-bottom: 2%;
    margin-top: 1%;
}
// ====================================================================================
//certifications 
// ====================================================================================



// section#certifications {
//     border: 1px solid transparent;
// }

// section#certifications .card{
//     border-radius: 10px;
//     border: 1px solid transparent;
//     box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.1) ;
//     margin-bottom: 2rem;
// }

section#certifications h3{
    font-family: $montserrat, sans-serif;
    font-weight: 700;
    font-style: italic;
    border-bottom: 1px solid $electric-pink;

}

// ====================================================================================
//contact me form 
// ====================================================================================

input{
    width: 100%;
    font-size: $font-size;
    line-height: $font-size * 2;
    font-family: $karla, sans-serif;
    margin-bottom: $font-size * 2;
    border: none;
    border: 2px solid $electric-pink;
    border-radius: 2rem;
    background: $grey;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    outline: none;
    color: $dark-purple;
}

//this wont override focus
// form#contact-form textarea:focus, 
input:focus{
    border: 2px solid $electric-pink;
    box-shadow: 4px 4px 0 0 $dark-purple;
}

form#contact-form textarea {
    width: 100%;
	max-height: 8rem;
	border: 2px solid $electric-pink;
	padding: 1.5rem;
	font-family: $karla, sans-serif;
    background-color: $grey;
    border-radius: 2rem;
    margin:0;
}

[type="submit"] {
    display: block;
    color: $not-white;
    font-weight: bold;
    font-family:  $montserrat;
    background: $dark-purple;
    box-shadow: 7px 7px 0 0 $dark-purple,
      inset 4px 4px 0 0 $grey;
    border: 2px solid $electric-pink; 
    border-radius: 2rem;
    padding: 10px;
    width: 100%;
    max-width: 15rem;
    margin: 10px auto;
    transition: background .3s;
    &:hover {
        background: $not-white;
        box-shadow: 7px 7px 0 0 $dark-purple,
        inset 4px 4px 0 0 $not-white;
        color: $dark-purple;
        border: 2px solid $electric-pink; 
        cursor: pointer;

    }
    &:active,
    &:focus {
        /* position: relative;
        top: 1px; */
        outline: none;
        background: darken($electric-pink, 10%);
    }
}



// ====================================================================================
//media queries 
// ====================================================================================

@media only screen and (min-width: 600px) {
    .heading {
        font-size: 50vh;
    }
}

@media only screen and (min-width: 1100px) {
    .heading {
        font-size: 80vh;
    }
}













